.advantages__number {
  font-family: Gilroy-Extrabold, sans-serif;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgb(130, 19, 40);
  font-size: 60px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  line-height: 100px;
  transition: all .5s;
}

.advantages__info {
  font-family: Gilroy-Extrabold, sans-serif;
  font-size: 20px;
  color: rgb(51, 25, 7);
  padding-top: 13px;
  padding-bottom: 20px;
}

.advantages__text {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 15px;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}

.advantages__item:hover .advantages__number {
  background-color: #eba8b1;
  color: #821328FF;
}

/*768 - 1023*/
@media screen and (max-width: 1023px) {
  .advantages__item {
    text-align: center;
  }

  .advantages__number {
    margin: 0 auto;
  }
}

/*375 - 424*/
@media screen and (max-width: 424px) {
  .advantages__info {
    font-size: 18px;
  }

  .advantages__text {
    font-size: 13px;
  }
}

