.products__item {
  position: relative;
  display: grid;
  justify-items: center;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 107px 20px 27px 20px;
  grid-template-columns: 1fr 130px;
}

.products__image {
  position: absolute;
  top: -60px;
  transition: all 0.4s ease-in-out;
}

.products__item:hover .products__image {
  transform: scale(1.1);
}

.products__name {
  font-size: 18px;
  color: rgb(255, 255, 255);
  grid-column: 1 / 3;
  margin-bottom: 26px;
}

.products__quantity {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  justify-self: start;
  align-self: center;
}

.products__price {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  justify-self: start;
  align-self: center;
}

.products__action {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.products__button {
  width: 130px;
  border-radius: 25px;
  background-color: #f3a600;
  font-size: 16px;
  line-height: 3.1;
}
