.main {
  background-color: rgb(235, 168, 177);
  padding: 126px 0 108px 0;
  overflow: hidden;
}

.main__container {
  display: grid;
  grid-column-gap: 14px;
  grid-template-columns: 1fr 1fr;
}

.main__image {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  padding-right: 20px;
  position: relative;
}

.main__image::before,
.main__image::after {
  content: '';
  position: absolute;
  width: 82%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgb(130, 19, 40);
  z-index: 0;
  animation: circle 2s ease-out infinite;
  left: 10%;
}

.main__image::after {
  animation-delay: .7s;
}

@keyframes circle {
  0% {
    transform: scale(.7);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.main__img {
  width: 100%;
  z-index: 1;
  position: relative;
}

.main__title {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  margin-top: 17px;
  align-self: start;
}

.main__info-text {
  max-width: 349px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.4;
}

.main__actions {
  margin-bottom: 37px;
  align-self: end;
}

.main__button {
  width: 240px;
  border-radius: 30px;
  background-color: #f8bcc4;
  line-height: 3.3;
}

.info {
  background-color: #ffefef;
  padding: 119px 0 25px 0;
}

.info__container {
  display: grid;
  grid-column-gap: 151px;
  grid-template-columns: 1fr 1fr;
}

.info__image {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: end;
}

.info__img {
  width: 100%;
}

.info__title {
  font-weight: 400;
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
}

.info__text {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 401px;
  margin-bottom: 5px;
  margin-top: 40px;
  align-self: end;
}

.advantages {
  background-color: #ffefef;
  padding: 57px 0 120px 0;
}

.advantages__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 54px;
}

.products {
  background-color: #eba8b1;
  padding: 120px 0;
}

.products__title {
  font-weight: 400;
  font-size: 45px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 143px;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 263px);
  justify-content: space-between;
  grid-column-gap: 29px;
}

.order {
  padding: 98px 0 120px 0;
  background-color: #ffefef;
}

.order__container {
  display: flex;
  align-items: flex-end;
  gap: 162px;
  position: relative;
}

.order__strawberry1 {
  position: absolute;
  left: 5px;
  top: 44px;
  animation: strawberry 2s linear infinite;
}

.order__strawberry2 {
  position: absolute;
  right: 13%;
  bottom: 75px;
  animation: strawberry 2.5s linear infinite;
}

@keyframes strawberry {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.order__image {
  margin-left: 15px;
}

.order__img {
  width: 100%;
}

.order__info {
  max-width: 406px;
}

.order__title {
  font-size: 45px;
  color: rgb(51, 25, 7);
  margin-bottom: 41px;
}

.order__text-message {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  color: rgb(51, 25, 7);
  margin-bottom: 48px;
}

.order__form {
  max-width: 295px;
}

.form-text {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 18px;
  color: #120a06;
  margin-bottom: 20px;
}

.order__form-text {
  margin-top: 25px;
  margin-bottom: 22px;
}

.order__input {
  padding: 22px 25px 24px 25px;
  border-width: 1px;
  border-color: rgb(130, 19, 40);
  border-style: solid;
  border-radius: 30px;
  box-sizing: border-box;
  width: 294px;
  height: 60px;
  outline: none;
  background-color: transparent;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 15px;
  color: rgb(40, 4, 12);
  margin-bottom: 15px;
}

.order__input::placeholder {
  color: rgb(118, 12, 34);
}

.order__button {
  border-radius: 30px;
  width: 294px;
  background-color: #f3a600;
  height: 60px;
}

/*1024 - 1199*/
@media screen and (max-width: 1199px) {
  .advantages {
    & __container {
      display: grid;
      grid-template-columns: repeat(2, 220px);
      justify-content: center;
      align-items: flex-start;
      grid-row-gap: 80px;
    }
  }

  .products {
    & __container {
      grid-template-columns: repeat(2, 263px);
      justify-content: center;
      grid-row-gap: 136px;
    }
  }
}

/*768 - 1023*/
@media screen and (max-width: 1023px) {
  .main {
    padding: 70px 0 420px 0;
  }

  .main__container {
    grid-row-gap: 41px;
    position: relative;
  }

  .main__title {
    font-weight: initial;
    margin-top: initial;
    margin-bottom: 33px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .main__image {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-left: 24%;
    margin-top: -2%;
    padding-right: initial;
    position: absolute;
  }

  .main__info-text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main__actions {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: initial;
  }

  .info {
    padding: 119px 0 8px 0;
  }

  .info__container {
    display: inline-block;
    text-align: center;

  }

  .info__title {
    margin: 0 126px;
  }

  .info__text {
    max-width: initial;
    margin: 61px 30px 40px 30px;
  }

  .info__image {
    margin: 0 215px;
  }

  .advantages {
    padding: 80px 0 123px 0;
  }

  .order {
    padding: 120px 0;
  }

  .order__container {
    gap: initial;
  }

  .order__image {
    order: 2;
    margin-left: -25px;
    margin-bottom: -90px;
  }

  .order__info {
    order: 1;
  }

  .order__strawberry1 {
    left: 372px;
    top: 217px;
  }

  .order__strawberry2 {
    right: 13%;
    top: 111px;
  }
}

/*425 - 767*/
@media screen and (max-width: 767px) {
  .main__image {
    grid-row: 4 / 5;
  }

  .info__title {
    margin: initial;
  }

  .info__image {
    margin: 0 auto;
    width: 302px;
  }

  .advantages__container {
    grid-template-columns: repeat(2, 190px);
    justify-content: space-between;
    grid-column-gap: 10px;
    grid-row-gap: 36px;
  }

  .products__container {
    grid-template-columns: 263px;
    justify-content: center;
    grid-column-gap: initial;
    grid-row-gap: 136px;
  }

  .order__strawberry1 {
    left: 330px;
  }
}

/*375 - 424*/
@media screen and (max-width: 424px) {
  .main {
    padding: 60px 0 43px 0;
  }

  .main__container {
    grid-row-gap: 40px;
    text-align: center;
    grid-column-gap: initial;
  }

  .main__title {
    font-weight: initial;
    margin-top: initial;
    margin-bottom: initial;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 32px;
    line-height: 1.25;
  }

  .main__info-text {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 16px;
  }

  .main__actions {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-bottom: initial;
  }

  .main__image {
    position: relative;
    grid-row: 4 / 5;
    width: 250px;
    margin: 0 auto;
  }

  .info {
    padding: 100px 0 60px 0;
  }

  .info__title {
    margin: initial;
    font-size: 30px;
    line-height: 1.167;
  }

  .info__text {
    margin: 40px 0 59px 0;
    font-size: 16px;
    line-height: 1.437;
  }

  .info__image {
    margin: 0 auto;
    width: 302px;
  }

  .advantages {
    padding: 0 0 100px 0;
  }

  .advantages__container {
    grid-template-columns: repeat(2, 165px);
    justify-content: space-between;
    grid-column-gap: initial;
    grid-row-gap: 36px;
  }

  .products {
    padding: 100px 0;
  }

  .products__container {
    grid-template-columns: 263px;
    justify-content: center;
    grid-column-gap: initial;
    grid-row-gap: 136px;
  }

  .products__title {
    font-size: 30px;
    margin-bottom: 122px;
  }

  .order {
    padding: 100px 0 77px 0;
  }

  .order__form {
    max-width: initial;
  }

  .order__title {
    font-size: 30px;
    margin-bottom: 44px;
  }

  .order__text-message {
    font-size: 16px;
    margin-bottom: 60px;
  }

  .order__input {
    width: 100%;
  }

  .order__button {
    width: 100%;
  }

  .order__strawberry1 {
    left: initial;
    right: 0;
    top: 110px;
  }

  .order__strawberry2 {
    display: none;
  }

  .order__image {
    display: none;
  }
}

/*320 - 374*/
@media screen and (max-width: 374px) {
  .info__image {
    width: 290px;
  }

  .advantages__container {
    grid-template-columns: repeat(2, 140px);
  }
}
