
<section class="main">
  <div class="container main__container">
    <h1 class="main__title">Мягкие французские пироженки Macaroons</h1>
    <div class="main__info-text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
      Macaroon!
    </div>
    <div class="main__actions">
      <a class="button main__button" (click)="scrollTo(macaroons)">Выбрать макарун</a>
    </div>

    <div class="main__image">
      <img src="assets/images/macaroons.png" class="main__img" alt="Пироженки">
    </div>
  </div>
</section>

<section class="info" id="info" #info>
  <div class="container info__container">
    <h1 class="info__title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h1>
    <div class="info__text">Все пироженки мы готовим только из натуральных и качественных продуктов, без
      консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
      маргарина, разрыхлителей и улучшителей муки.
    </div>
    <div class="info__image">
      <img src="assets/images/macaroon.png" class="info__img" alt="Пироженка большая">
    </div>
  </div>
</section>
<section class="advantages">
  <div class="container advantages__container">
    <!--        1-->
    <div class="advantages__item" *ngFor="let advantage of advantages; let i = index;">
      <div class="advantages__number">
        {{i+1}}
      </div>
      <div class="advantages__info">
        {{advantage.info}}
      </div>
      <div class="advantages__text">
        {{advantage.text}}
      </div>
    </div>
  </div>
</section>

<section class="products" id="macaroons" #macaroons>
  <h1 class="products__title">Выберите свой макарун</h1>
  <div class="container products__container">
    <!--        1-->
    <div class="products__item" *ngFor="let product of products; let i = index;">
      <div class="products__image">
        <img src="assets/images/{{product.image}}" class="products__img" alt="cake {{i+1}}">
      </div>
      <div class="products__name">
        {{product.name}}
      </div>
      <div class="products__quantity">{{product.quantity}}</div>
      <div class="products__price">{{product.price}}</div>
      <div class="products__action">
        <a class="button products__button" (click)="addToCart(product, order)">Заказать</a>
      </div>
    </div>
  </div>
</section>

<section class="order" id="order" #order>
  <div class="container order__container">
    <div class="order__strawberry1">
      <img src="assets/images/strawberry1.png" alt="Большая клубничка">
    </div>
    <div class="order__strawberry2">
      <img src="assets/images/strawberry2.png" alt="Большая маленькая">
    </div>
    <div class="order__image">
      <img src="assets/images/tower.png" class="order__img" alt="Башня">
    </div>
    <div class="order__info">

      <div class="order__title">
        Закажите макарун!
      </div>
      <div class="order__text-message">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>

      <div class="order__form">
        <div class="form-text">Ваш выбор</div>
        <input class="order__input" type="text" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productName">
        <div class="form-text order__form-text">Заполните данные для заказа</div>
        <input class="order__input" type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input class="order__input" type="text" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        <button class="button order__button" (click)="createOrder()">Оформить заказ</button>
      </div>
    </div>
  </div>
</section>


