* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url('./assets/fonts/Gilroy-Extrabold.ttf');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Tavolga Free';
  src: url('./assets/fonts/Tavolga Free.ttf');
}

body {
  font-family: Tavolga Free, sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.number {
  font-family: Gilroy-Bold, sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.icon {
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
}

/*768 - 1023*/
@media screen and (max-width: 1023px) {
  .container {
    padding-left: 20px;
  }
}

/*375 - 424*/
@media screen and (max-width: 424px) {
  .container {
    padding: 0 15px;
  }
}
